

# Custom 128-bit UUIDs for Chat Service and Characteristics
CHAT_SVC = "da80e923-bc5e-4f7b-836a-6f5f87e9f084"
# Chat Characteristic where the Peripheral SENDs data, and Central READS/SUBSCRIBES
CHAT_TX_CHAR = "03a26988-7973-4447-9c1b-56b97fc456bc"
# Characteristic where the Peripheral RECEIVES data, and Central WRITES
CHAT_RX_CHAR = "38bc9392-709f-45c9-b3f2-da3cab37798e"

NETWORK_UUID = "06D8CB66B35D692599732740E247BAAB73540AE8BC1E58755E22E7D39A36284A"