# Custom 128-bit UUIDs for our Chat Service and Characteristics
SERVICE_UUID = "0000180d-0000-1000-8000-00805f9b34fb"
# Characteristic where the Peripheral SENDs data, and Central READS/SUBSCRIBES
TX_CHAR_UUID = "00002a38-0000-1000-8000-00805f9b34fb"
# Characteristic where the Peripheral RECEIVES data, and Central WRITES
RX_CHAR_UUID = "00002a39-0000-1000-8000-00805f9b34fb"